@{
    ViewData["Title"] = "Tests";
}
<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="https://code.jquery.com/jquery-3.5.1.js"></script>
<script src="~/js/tests.js"></script>

<h1>@ViewData["Title"]</h1>
<p>Use this page to create, edit or delete tests.</p>

    <button class="btn btn-primary" onclick="location.href = '/Test/Create'">Create Test</button>
    <hr />
<div class="container">
    <table class="table table-responsive-lg">
        <thead>
            <tr>
                <th scope="col">Name</th>
                <th scope="col">Creator</th>
                <th scope="col">Creation time</th>
                <th scope="col">Updater</th>
                <th scope="col">Update time</th>
                <th scope="col">Category</th>
                <th scope="col"></th>
                <th scope="col"></th>
            </tr>
        </thead>
        <tbody id="testsTBody">
        </tbody>
    </table>
</div>