@{
    ViewData["Title"] = "Test";
}
<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="https://code.jquery.com/jquery-3.5.1.js"></script>
<script src="~/js/performTest.js"></script>
<h1>@ViewData["Title"]</h1>
<div class="container" id="testContainer">

</div>