@model List<Elearn.Models.AspNetUsers>

@{
    ViewData["Title"] = "Priskirti testai";
}
<form asp-action="AddNewAssigns">
    <h3>Pasirinktas testas:</h3>
    @Html.DropDownList("Test", ViewBag.TestId, "Pasirinkite testą", new { @class = "form-control" })
    <h3>Pabaigos data:</h3>
    <input type="datetime-local" name ="ExprDate"/>
    <h3>Pasirinkite naudotojų kategoriją:</h3>
    @Html.DropDownList("Category", ViewBag.CategoryId, "Pasirinkite kategoriją", new { @class = "form-control" })
    </br>
    <input type="submit" value="Priskirti kategorijai" class="btn btn-primary" name ="assignCat"/>
    </br>
    </br>
    <h3>Arba pasirinkite naudotojus iš sąrašo:</h3>
    <table class="table table-hover">
    <thead>
        <tr>
        <th scope="col">Vartotojas</th>
        <th scope="col">Priskirti testą</th>
        </tr>
    </thead>
        <tbody>
        @for(int i=0;i< 1; i++)
        {
        @:
            <tr>
                <th scope = "row">
                    @Model[i].UserName
                </th>
                <td>
                    <input type="checkbox" name="@Model[i].Id">
                </td>
            </tr>      
        } 
        </tbody>
    </table>
     <div class="form-group">
        <input type="submit" value="Priskirti naudotojams" class="btn btn-primary" name="assignusers" />
    </div>
</form>