@{
    ViewData["Title"] = "Assigns";
}
<h1>@ViewData["Title"]</h1>

<div class="container">
    <div class="col-6">
        <button class="btn btn-primary btn-block" onclick="location.href='/Assign/AssignedTests'">Assigned tests</button>
    </div>
    <br />
    <div class="col-6">
        <button class="btn btn-primary btn-block" onclick="location.href='/Assign/AssignNew'">Assign new test</button>
    </div>
</div>