@{
    ViewData["Title"] = "User edit";
}

<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="https://code.jquery.com/jquery-3.5.1.js"></script>
<script src="~/js/users.js"></script>

<h1>@ViewData["Title"]</h1>
<h3 id="username"></h3>


<section id="section">
    <div class="form-group">
        <label>Select system role</label>
        <select id="rolesSelect" class="form-control">
        </select>
    </div>
    <div class="form-group">
        <label>Select unit category</label>
        <select id="unitRolesSelect" class="form-control">
        </select>
    </div>

    <div class="form-group">
        <button class="btn btn-primary" onclick="UpdateUser()" id="userUpdateButton">Update</button>
    </div>

</section>

