@{
    ViewData["Title"] = "Users";
}
<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="https://code.jquery.com/jquery-3.5.1.js"></script>
<script src="~/js/users.js"></script>

<h1>@ViewData["Title"]</h1>
<p>Use this page to create, edit or delete users.</p>

    <button class="btn btn-primary" onclick="location.href = '/Identity/Account/Register'">Create User</button>
    <hr />
<div class="container">
    <table class="table table-responsive-lg">
        <thead>
            <tr>
                <th scope="col">Email</th>
                <th scope="col">System Role</th>
                <th scope="col">Unit</th>
                <th scope="col">Unit Role</th>
                <th scope="col"></th>
                <th scope="col"></th>
            </tr>
        </thead>
        <tbody id="usersTbody">
        </tbody>
    </table>
</div>