@model List<Elearn.Models.AspNetUsers>
@{
    ViewData["Title"] = "Home Page";
}

<div class="container">
    <div class="row">
        <div class="col-sm">
            <h2>User reports</h2>
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th scope="col">User</th>
                        <th scope="col">View report</th>
                        <th scope="col">Download report</th>
                    </tr>
                </thead>
                <tbody>
                    @for (int i = 0; i < 1; i++)
                    {
                        @:
                        <tr>
                            <th scope="row">
                                @Model[i].UserName
                            </th>
                            <td>
                                <input class="btn btn-primary" type="button" value="View report" onclick="location.href='@Url.Action("UserReport", "Report")?userId=@Model[i].Id'" />
                            </td>
                            <td>
                                <input class="btn btn-primary" type="button" value="Download report" onclick="location.href='@Url.Action("SaveAsPdfUserReport", "Report")?userId=@Model[i].Id'" />
                        </tr>

                    }
                </tbody>
            </table>
        </div>
        <div class="col-sm">
            <form asp-action="CategoryReport">
                <h2>Test categories report</h2>
                <text>Selected category:</text>
                @Html.DropDownList("TestCategory", ViewBag.TestCategory, "Select category", new { @class = "form-control" })
                <br />
                <input type="submit" name="showReport" value="Show report" class="btn btn-primary" />
                <input type="submit" name="downloadReport" value="Download report" class="btn btn-primary" />
            </form>


        </div>
        <div class="col-sm">
            <h2>Time reports</h2>
            <form asp-action="TimeReport">
                <text>Select start date</text>
                <input class="form-control" type="date" name="Begin" />
                <br />
                <text>Select end date</text>
                <input class="form-control" type="date" name="End" />
                <br />
                <input type="submit" name="showReport" value="Show report" class="btn btn-primary" />
                <input type="submit" name="downloadReport" value="Download report" class="btn btn-primary" />

            </form>
        </div>
    </div>
</div>